<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tim Honchel - Historical MLB All Stars</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Historical MLB All Stars" property="og:title">
    <meta name="description" content="Generate a historical MLB all star team for any time period" property="og:description">
    <meta name="author" content="Tim Honchel" >
  </head>
  <body>
    <h1>Generate an MLB All Star Team for a Specific Time Period</h1>
    <form action ="/loading" method="POST">
      <p>{{template_form.year_a}} Enter the starting year of the time period</p>
      <p>{{template_form.year_b}} Enter the ending year of the time period</p>
      <p>{{template_form.submit}}</p>
    </form>
    <br>
    <p>2022 - <a href ="http://tim-honchel.github.io" target="_blank">Tim Honchel</a></p>
  </body>