<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tim Honchel - Historical MLB All Stars</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Historical MLB All Stars" property="og:title">
    <meta name="description" content="Generate a historical MLB all star team for any time period" property="og:description">
    <meta name="author" content="Tim Honchel" >
  </head>
  <body>
    <h1>All-Star Team</h1>
    <p>For the time period {{year_start}} - {{year_ending}}, here is a roster of the top 12 pitchers and 13 position players:</p>
    <p><b>Pitchers:</b></p>
    {% for pitcher in pitchers %}
    <p style="line-height:0%">{{pitcher.description}}</p>
    {% endfor %}
    <p><b>Position Players:</b></p>
    {% for batter in batters %}
    <p style="line-height:0%">{{batter.description}}</p>
    {% endfor %}
    <p><b>Honorable Mentions:</b></p>
    <p>
    {% for player in honorable_mentions %}
    <span>{{player.position}} {{player.name}}, </span>
    {% endfor %}
    </p>
    <br>
    <a href="/">Generate a new search</a>
    <br>
    <br>
    <p>Created by <a href ="http://tim-honchel.github.io" target="_blank">Tim Honchel</a>. 2022. All statistics from FanGraphs.</p>
  </body>