<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tim Honchel - Historical MLB All Stars</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Historical MLB All Stars" property="og:title">
    <meta name="description" content="Generate a historical MLB all star team for any time period" property="og:description">
    <meta name="author" content="Tim Honchel" >
  </head>
  <body>
    <h1>All-Star Team</h1>
    <p>For the time period {{year_start}} - {{year_ending}}, here is a roster of the top 12 pitchers and 13 position players {{team_or_league}}:</p>
    <h3><u>Pitchers:</u></h3>
    <table>
      {% for pitcher in pitchers %}
        <tr>
          <td style="margin:0" style="padding:0">{{pitcher.position}} <b>{{pitcher.name}}</b> ({{pitcher.war}} WAR) - {{pitcher.era}} ERA, {{pitcher.whip}} WHIP, {{pitcher.wins}} W, {{pitcher.saves}} SV, {{pitcher.strikeouts}} K</td>
        </tr>
      {% endfor %}
    </table>
    <h3><u>Position Players:</u></h3>
    <table>
      {% for batter in batters %}
        <tr>
          <td style="margin:0" style="padding:0">{{batter.position}} <b>{{batter.name}}</b> ({{batter.war}} WAR) - {{batter.avg}}/{{batter.obp}}/{{batter.slg}}, {{batter.runs}} R, {{batter.hits}} H, {{batter.homeruns}} HR, {{batter.rbi}} RBI, {{batter.steals}} SB, {{batter.dwar}} defWAR</td>
        </tr>
      {% endfor %}
    </table>
    <h3><u>Honorable Mentions:</u></h3>
    <p>
    {% for player in honorable_mentions %}
      <span>{{player.position}} {{player.name}} | </span>
    {% endfor %}
    </p>
    <br>
    <a href="/">Generate a new search</a>
    <br>
    <br>
    <p>Created by <a href ="http://tim-honchel.github.io" target="_blank">Tim Honchel</a>. 2022. All statistics from FanGraphs.</p>
  </body>